.pok-evolution-chain {
  .wrapper-evolution {
    display: flex;
    justify-content: space-around;
    .wrap-pokemon {
      display: flex;
      align-items: center;
      .wrap-content {
        text-align: center;
        opacity: .8;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      mat-icon {
        font-size: 110px;
      }
    }
    .wrap-pokemon:nth-last-child(1) mat-icon {
      display: none;
    }
  }
}