@import '../../app.component.less';

.pokemon-detail {
  overflow-y: scroll;
  height: 100vh;
  .pokemon-container {
    display: flex;
    justify-content: space-around;
    .pokemon-type {
      display: flex;
      .type-color {
        flex: 1;
        border-radius: 5px;
        padding:  1px 15px;
        margin: 0 5px;
        span {
          color: white;
          text-align: center;
        }
      }
      
    }
  }
  
  .game-description {
    display: flex;
    flex: 1;
  
    img {
      height: 150px;
      width: auto;
      margin: 15px;
    }
  }
}