<div class="pokemon-detail">
  <div class="wrapper-detail">
    <div class="left-column">
      <pok-card-detail [pokemonDetail]="pokemonDetail"></pok-card-detail>
      <div class="abilities">
        <h3>Abilities</h3>
        <ul>
          <li *ngFor="let detail of pokemonDetail?.abilities">
            <p class="capitalize">{{detail.ability.name | hyphenText}}</p>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="right-column">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stats
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pok-stats [stats]="pokemonDetail?.stats"></pok-stats>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Evolution
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pok-evolution-chain [evolutionChain]="pokemonSpecies!.evolution_chain"></pok-evolution-chain>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Language
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pok-language [species]="pokemonSpecies!"></pok-language>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

