// @import '../../app.component.less';
@import "/src/app/styles/constants";

.pokemon-detail {
  height: 90vh;
  overflow-y: scroll;
  background-color: @MAIN_BACKGROUND;
  .wrapper-detail {
    display: flex;
    padding: 20px;
    .left-column {
      width: 30%;
    }
    .left-column {
      .abilities {
        width: 29em;
        margin: auto;
        margin-top: 10px;
        border-radius: 4px;
        padding: 15px;
        background-color: #9f5a26;
        color: white;
      }
    }
    .right-column {
      width: 70%;
      mat-accordion {
        width: 98%;
      }
    }
  }
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

@media (max-width: 844px) {
  .pokemon-detail {
    .wrapper-detail {
      flex-direction: column;
      .left-column, .right-column {
        width: 100%;
      }
      .left-column {
        .abilities {
          width: 90%;
          padding: 5%;
          margin-bottom: 10px;
        }
      }
    }
  }
}
