<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="center-items">
      <p>Pokedex</p>
      <mat-divider></mat-divider>
      <pok-generation (onShowGeneration)="showGeneration($event)"></pok-generation>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <header (onSearchText)="searchPokemons($event)" [sidenav]="sidenav"></header>
    <app-virtual-scroll [pokemons]="pokemons"></app-virtual-scroll>
    <not-found *ngIf="!pokemons.length"></not-found>
  </mat-sidenav-content>
</mat-sidenav-container>