@import "/src/app/styles/constants";

.center-items {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  justify-content: flex-start;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
  a img {
    width: 150px;
    &:hover {
      opacity: .9;
    }
  }
  pok-generation {
    margin-top: 20px;
  }
}
