@import '../app.component.less';

.pokemons {
  display: flex;
  flex-wrap: wrap;
  .pokemon {
    background-color: silver;
    border-radius: 15px;
    flex: 1;
    margin: 10px;
    .name-pokemon {
      color: white;
      font-size: 1.5em;
      text-align: center;
    }
  }
}

.not-found {
  h2 {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
  };
  text-align: center;
}