<mat-toolbar color="primary">
  <div class="left-side">
    <div class="toggle-sidenav">
      <mat-icon *ngIf="!sidenav.opened" class="arrow" (click)="sidenav.toggle()">keyboard_double_arrow_right</mat-icon>
      <mat-icon *ngIf="sidenav.opened" class="arrow" (click)="sidenav.toggle()">keyboard_double_arrow_left</mat-icon>
    </div>
    <span>Pokemon world</span>
    <a [routerLink]="['items']">Items</a>
  </div>
  <div class="right-side">
    <div class="search">
      <p-input-text
        [label]="'Search Pokemon'"
        (onChangeSearch)="onSearch($event)"
      ></p-input-text>
    </div>
    <menu [options]="options"
      (themeChange)="themeChangeHandler($event)">
    </menu>
  </div>
</mat-toolbar>
